<h1>マイページ</h1>
<table>
    <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td>
            〒<%= @user.postcode %>
            <%= @user.prefecture_name %>
            <%= @user.address_city %>
            <%= @user.address_street %>
            <%= @user.address_building %>
        </td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @user.telephone_number %></td>
    </tr>
</table>

<div class="btn-position">
    <%= link_to "編集", edit_user_path(@user), class: "button" %>
</div>
<div class="btn-position">
    <%= link_to '退会', @user, method: :delete, data: { confirm: "本当によろしいですか？" }, class: "button" %>
</div>
