<% provide(:btn_name, "登録する") %>

<div class="box">
    <h3>ご自身の住所（<%= link_to "編集する", edit_user_path(@user) %>）</h3>
    〒<%= @user.postcode %>
    <%= @user.prefecture_name %>
    <%= @user.address %>
</div>

<h2>新規住所登録</h2>
<%= render 'shared/address_form', model: @address %>

<% if @addresses.present? %>
    <h2>登録済み住所</h2>
    <% @addresses.each do |address| %>
        <div class="box">
            <div class="address">
                〒<%= address.postcode %>
                <%= address.prefecture_name %>
                <%= address.address %>
            </div>
            <div class="address-edit">
                <%= link_to "編集", edit_address_path(address), class: "btn-green" %>
                <%= link_to "削除", address, method: :delete, class: "btn-red" %>
            </div>
        </div>
    <% end %>
<% end %>
