<h1>
    商品一覧
    <%= link_to "商品を登録する", new_item_path, class: "btn-pink" %>
</h1>

<div class="item-index">
    <nav>
        <b>ジャンル</b>
        <% @genres.each do |genre| %>
            <li><%= genre.name %></li>
        <% end %>
    </nav>

    <div class="item-list">
        <div class="pager">
            <%= paginate @items %>
        </div>
        <% @items.each do |item| %>
            <div class="item-content clearfix">
                <div class="item-left">
                    <% if item.picture? %>
                        <%= link_to item do %>
                            <%= image_tag item.picture.url, class: "item-img" %>
                        <% end %>
                    <% else %>
                        <h3>イメージ画像が登録されていません</h3>
                    <% end %>
                </div>

                <div class="item-right">
                    <% if item.sales_status? %>
                        <span class="yellow-btn">販売中</span>
                    <% else %>
                        <span class="gray-btn">売切れ</span>
                    <% end %>
                    <div class="item-details">
                        <h2><%= link_to "#{item.name}", item %></h2>
                        <p>価格(税抜): ￥<%= item.price %></p>
                        <p>ジャンル: <%= item.genre.name %></p>
                        <p>製造者: <%= link_to "#{item.user.name}", user_path(item.user) %></p>
                    </div>
                    <div class=<%= "buttons_like_" + item.id.to_s %>>
                        <%= render 'users/likes/like', item: item, like_count: item.likes.count %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="pager">
            <%= paginate @items %>
        </div>
    </div>
</div>