<div class="top-img">
    <div class="top-content anime">
        <h2>あなたに好物を届けます<i class="fas fa-people-carry fa-lg fa-fw faa-horizontal animated-hover"></i></h2>
        <%= link_to items_path, class: "btn-orange" do %>
            商品を探す
            <i class="fas fa-box-open faa-ring animated-hover"></i>
        <% end %>
        <%= link_to new_user_session_path, class: "btn-pink" do %>
            ログイン
            <i class="fas fa-sign-in-alt fa-fw faa-ring animated-hover"></i>
        <% end %>
        <%= link_to new_user_registration_path, class: "btn-blue" do %>
            新規登録
            <i class="fas fa-user-plus faa-ring animated-hover"></i>
        <% end %>
        <%= render "shared/login_test_user" %>
    </div>
</div>

<div class="top-item">
    <h1>商品一例<i class="fas fa-utensils fa-lg fa-fw orange"></i></h2>
    <% @items.each do |item| %>
        <div class="item-content clearfix">
            <div class="item-left">
                <% if item.picture? %>
                    <%= link_to item do %>
                        <%= image_tag item.picture.url, class: "item-img" %>
                    <% end %>
                <% else %>
                    <h3>イメージ画像が登録されていません</h3>
                <% end %>
            </div>

            <div class="item-right">
                <% if item.sales_status? %>
                    <span class="yellow-btn">販売中</span>
                <% else %>
                    <span class="gray-btn">売切れ</span>
                <% end %>
                <div class="item-details">
                    <h2><%= link_to "#{item.name}", item %></h2>
                    <p>価格(税抜): ￥<%= item.price %></p>
                    <p>ジャンル: <%= item.genre.name %></p>
                    <p><span>Like: </span><%= item.likes.count %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="btn-position">
    <%= link_to "もっと商品を見る", items_path, class: "btn-pink" %>
</div>

<div class="start">
    <h1>Food Shopping</h1>
</div>
