<div class="top-img">
    <div class="top-content">
        <h2>あなたに好物を届けます<i class="fas fa-people-carry fa-lg fa-fw faa-horizontal animated"></i></h2>
        <%= link_to items_path, class: "btn-orange" do %>
            商品を探す
            <i class="fas fa-box-open"></i>
        <% end %>
        <%= link_to new_user_session_path, class: "btn-pink" do %>
            ログイン
            <i class="fas fa-sign-in-alt fa-fw"></i>
        <% end %>
        <%= link_to new_user_registration_path, class: "btn-blue" do %>
            新規登録
            <i class="fas fa-user-plus"></i>
        <% end %>
        <%= render "shared/login_test_user" %>
    </div>
</div>

<div class="item-index">
    <h2>商品一例<i class="fas fa-utensils fa-lg fa-fw orange"></i></h2>
    <% @items.each do |item| %>
        <div class="item-content sentence">
            <div class="box-title">
                <%= link_to item.name, item %>
            </div>
            <p><%= item.introduction %></p>
        </div>
    <% end %>
</div>
