<div class="form_container">
    <%= form_with(model: @item, local: true, url: yield(:url)) do |f| %>
        <div class="box_form">
            <%= render 'shared/error_messages', object: f.object %>

            <div class="field">
                <%= f.text_field :name, class: "form_content", placeholder: "商品名" %>
            </div>

            <div class="field">
                <%= f.text_area :introduction, size: "50x3", class: "form_content", placeholder: "説明文" %>
            </div>

            <div class="field">
                <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "ジャンルを選択してください" %>
            </div>

            <div class="field">
                <%= f.number_field :price, min: 0, class: "form_content", placeholder: "税抜価格（数値のみ）" %>
            </div>

            <div class="field">
                <%= f.label :sales_status_true, "販売中" %>
                <%= f.radio_button :sales_status, true, checked: true %>
                <%= f.label :sales_status_false, "売切れ" %>
                <%= f.radio_button :sales_status, false %>
            </div>

            <div class="field">
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            </div>
            
            <div class="actions">
                <%= f.submit yield(:btn) %>
            </div>
        </div>
    <% end %>
</div>
