<h1><%= @user.name %> 様の詳細</h1>

<% if @user.deleted_at? %>
    <span class="purple-btn">退会済み</span>
<% end %>

<table>
    <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td>
            〒<%= @user.postcode %>
            <%= @user.prefecture_name %>
            <%= @user.address_city %>
            <%= @user.address_street %>
            <%= @user.address_building %>
        </td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @user.telephone_number %></td>
    </tr>
</table>

<div class="btn-position">
    <%= link_to "編集", edit_admins_user_path(@user), class: "button" %>
</div>
<div class="btn-position">
    <% unless @user.deleted_at? %>
        <%= link_to "退会", admins_user_path(@user), 
                method: :delete, data: { confirm: "本当によろしいですか？" }, class: "button" %>
    <% else %>
        <%= link_to "復元", restore_admins_user_path(@user), method: :patch, class: "button" %>
    <% end %>
</div>
