<h2>商品内容</h2>
<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>価格(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= cart_item.item.name %></td>
                <td><%= (cart_item.item.price * 1.1).round %></td>
                <td><%= cart_item.amount %></td>
                <td><%= (cart_item.item.price * 1.1).round * cart_item.amount %></td>
            </tr>
            <% @total_amount += cart_item.amount %>
        <% end %>
    </tbody>
</table>

<div class="total-position">
    <h3>合計 (<%= @total_amount %>点) : ￥<%= session[:order]["total_payment"] %></h3>
</div>

<div class="box">
    <h4>支払い方法</h4>
    <b><%= t("enums.order.payment_method.#{@payment_status}") %></b>
</div>

<div class="box">
    <h4>お届け先</h4>
    <b>
        〒<%= session[:order]["postcode"] %>
        <%= session[:order]["address_city"] %>
        <%= session[:order]["address_street"] %>
        <%= session[:order]["address_building"] %>
        <%= session[:order]["name"] %>様
    </b>
</div>

<div class="btn-position">
    <%= link_to "注文を確定する", orders_path, method: :post, class: "button" %>
</div>

<div class="btn-position">
    <%= link_to "注文をキャンセルする", cancel_orders_path, method: :delete,
            data: { confirm: "本当に注文をキャンセルしますか？" }, class: "btn btn-warning" %>
</div>
