<h2>注文情報入力画面</h2>

<%= form_with(model: @order, local: true, url: storage_orders_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object%>

    <h3>支払い方法</h3>
    <% Order.payment_methods.each do |payment_method| %>
        <div class="checkbox-inline">
            <%= f.label :"payment_method_#{payment_method[0]}", t("enums.order.payment_method.#{payment_method[0]}") %>
            <%= f.radio_button :payment_method, payment_method[0] %>
        </div>
    <% end %>

    <h3>お届け先</h3>
    <%= f.radio_button :select_address, :self, checked: true %>
    <%= f.label :select_address_self, "ご自身の住所" %><br>
        <p>
            〒<%= current_user.postcode %>
            <%= current_user.prefecture_name %>
            <%= current_user.address %>
        </p>
        
    <% if @addresses.any? %>
        <%= f.radio_button :select_address, :registered %>
        <%= f.label :select_address_registered, "登録済住所から選択" %><br>
            <div class="field">
                <%= f.collection_select :exis_address_id, @addresses, :id, :view_address, prompt: "住所を選択してください" %>
            </div>
    <% end %>
        
    <%= f.radio_button :select_address, :new %>
    <%= f.label :select_address_new, "新しいお届け先" %><br>

        <div class="field">
            <%= f.label :postcode, "郵便番号" %><br />
            <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
        </div>   

        <div class="field">
            <%= f.label :prefecture_name, "都道府県" %><br />
        　  <%= f.collection_select :prefecture_name, JpPrefecture::Prefecture.all, :name, :name, include_blank: "都道府県を選択してください" %>
        </div> 

        <div class="field">
            <%= f.label :address, "住所" %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>   
        </div>
    
        <div>
            <%= f.submit "確認画面へ進む", class: "button" %>
        </div>

<% end %>
