<!DOCTYPE html>
<html>
  <head>
    <title>Cake Shopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="contents">
        <div class="headline">
          <%= link_to "Cake Shopping" %>
        </div>
        <ul>
          <% if user_signed_in? %>
            <li class="logo">ユーザー</li>
            <li><%= link_to "マイページ", current_user %></li>
            <li><%= link_to "商品一覧", items_path%></li>
            <li><%= link_to "カート一覧" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li class="logo">管理者</li>
            <li><%= link_to "受注一覧" %></li>
            <li><%= link_to "商品登録", admins_items_path %></li>
            <li><%= link_to "ユーザー情報", admins_users_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li class="logo">ゲストユーザー</li>
            <li><%= link_to "会員登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
